@model List<MEDIPLAN.Models.Termini>

<h2>Zakazani Termini</h2>

<a class="btn btn-primary" asp-action="Zakazi">+ Novi Termini</a>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Vrijeme početka</th>
            <th>Vrijeme kraja</th>
            <th>Doktor ID</th>
            <th>Pacijent ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Termini in Model)
        {
            <tr>
                <td>@Termini.DatumVrijemePocetak.Date.ToShortDateString()</td>
                <td>@Termini.DatumVrijemePocetak.ToShortTimeString()</td>
                <td>@Termini.DatumVrijemeKraj.ToShortTimeString()</td>
                <td>@Termini.DoktorId</td>
                <td>@Termini.PacijentId</td>
            </tr>
        }
    </tbody>
</table>