@model MEDIPLAN.Models.DetaljiUslugeViewModel

@{
    ViewData["Title"] = Model.Usluge.Naziv;
}

<div class="container py-5">
    <h2 class="naslov-Usluge">@Model.Usluge.Naziv</h2>
    <div class="row align-items-center">
        <div class="col-md-4 d-flex justify-content-center">
            <img src="~/images/@Model.Usluge.Ikona" alt="@Model.Usluge.Naziv" class="img-fluid detalji-ikonica" style="margin-right: 40px;" />
        </div>
        <div class="col-md-8">
            <p style="font-size:1.2rem;">@Model.Usluge.Opis</p>

            <h4 class="mt-4" style="color:#003366;">Doktori za ovu uslugu:</h4>
            @if (Model.Doktori != null && Model.Doktori.Count > 0)
            {
                foreach (var doktor in Model.Doktori)
                {
                    <div class="doktor-kartica">
                        <div class="doktor-ime">@doktor.Ime @doktor.Prezime</div>
                        <div>Email: @doktor.Email</div>
                        <div>Odjel: @((Odjel)doktor.Odjel)</div>
                    </div>
                }
            }
            else
            {
                <p>Nema dostupnih doktora za ovu uslugu.</p>
            }

            <a href="@Url.Action("Usluge", "Home")" class="btn btn-nazad mt-3">Nazad na usluge</a>
        </div>
    </div>
</div>
